$ const name = "World";

$     function test(foo: string) {
  console.log("Hello World");
}

$ {
  // foo is 123.
  var   foo: number =       123;
}

<h1>
  Hello <span>${name +    foo}!</span>
</h1>
