$ const name = "World";

$     function test(foo: string) {
  console.log("Hello World");
}

$ {
  // foo is 123.
  var   foo: number =       123;
}

$ const isWebpSupported = $global.request.headers.get("accept")?.includes("image/webp");


<h1>
  ${name +    foo}!
  $ console.log("I'm rendering the h1");
  $ console.log("These two scriptlets should be on separate lines!")
</h1>
