$ const name = "World";

$ function test(foo: string) {
  console.log("Hello World");
}

$ {
  // foo is 123.
  var foo: number = 123;
}

$ {
  const isWebpSupported = $global.request.headers
    .get("accept")
    ?.includes("image/webp");
}

<h1>${name + foo}!</h1>
