style.ts {
  console.log("Hello World!")
}


<style/{ title }>
  export const title = style({
backgroundColor: "red" });
</style>

<style/{ title }>
  export const title = style({
backgroundColor: "red" });
</style>
