<div data-test=(
    // This was important
    "test"
)/>

<div data-test="test" /* Comments can be between attributes.*/ data-test2="test2" /* Comments can be between attributes.*/ />

<div 
                data-test="test"            // Comments can be between attributes. 
    data-test2="test2" // Comments can be between attributes. 
/>