// prettier-ignore
<div         class="x"       >hello world</div>
<div        class="normal" >    This should be formatted normally   </div>

// prettier-ignore
<span    id="test"    class="unformatted"   >
Content here
</span>

<!-- prettier-ignore -->
<div         class="x"       >hello world</div>
<div        class="normal" >    This should be formatted normally   </div>

<!-- prettier-ignore -->
<span    id="test"    class="unformatted"   >
Content here
</span>

/* prettier-ignore */
<div         class="x"       >hello world</div>
<div        class="normal" >    This should be formatted normally   </div>

/* prettier-ignore */
<span    id="test"    class="unformatted"   >
Content here
</span>

<!-- prettier-ignore -->
<!-- prettier-ignore -->
<div         class="x"       >hello world</div>

<!-- prettier-ignore -->

<span    id="test"    class="unformatted"   >
  Content here
</span>

<!-- PRETTIER-IGNORE -->
<p    class="case-test"   >Should be ignored</p>

<!--prettier-ignore-->
<h1   class="no-spaces"   >Ignored</h1>

<!--    prettier-ignore      

-->
<h2   class="trailing-spaces"   >Ignored</h2>
