<div>
  // Placeholders within script tags should format.

  <script>
    ${SOME_PLACEHOLDER_GOES_HERE};
    window.gtag(
      "config",
      ${JSON.stringify(input)},
      ${JSON.stringify({
        ...input.customDimensions,
        anonymize_ip: true,
        transport_type: "beacon",
      })},
    );
  </script>
</div>

<div>
  <div>
    <div>
      <script>
        console.log("This is a script tag");
      </script>
    </div>
  </div>
</div>
