<custom-with-body>
  SomeBody
  <div>
    <h1>Title</h1>
  </div>
  <div>
    Some content that goes on a while to break the <span class="focus">
      custom-with-body
    </span>
    .
  </div>
</custom-with-body>
