// For custom tags, we allow them to be self-closing even if they aren't a void tag.

<custom-without-body prop="prop" on-place-changed("handleOriginChanged") />

<custom-with-body>
  SomeBody
</custom-with-body>
