<script>
    window.bla = ${JSON.stringify(input.bla)};
</script>

<script>
    window.a = ${JSON.stringify(input.a)};
    window.b = ${JSON.stringify(input.b)};
</script>

// Placeholders within script tags should format.
<script>
  ${SOME_PLACEHOLDER_GOES_HERE}

    window.gtag("config", 
            ${JSON.stringify(input)},
      ${JSON.stringify({
        ...input.customDimensions,
        anonymize_ip: true,
        transport_type: "beacon",
      })},
    );
</script>