style.ts { console.log("Hello World!"); }

<style.js/{ title }>
  export const title = style({
    backgroundColor: "red",
  });
</style>

<style.ts/{ title }>
  export const title = style({
    backgroundColor: "red",
  });
</style>
