$ const isLoggedIn = true;

<if(!isLoggedIn)>
  <a href="/login">Log in</a>
</if>
<else-if(isLoggedIn)>
  <a href="/logout">Log out</a>
</else-if>
<else>
  Hey User!
</else>

<ul>
  <for|color, index|
    of=["red", "blue", "green", "orange", "pink", "teal", "light-blue"]
  >
    <li>${index}: ${color}</li>
  </for>
</ul>
