<pre>
  
    This    should     be      preserved
        including    all    whitespace
  and     indentation
    exactly     as     written

</pre>

<div>
  <pre>
    
function example() {
    console.log("This code should not be formatted");
        // Weird indentation should stay
    return     "weird    spaces   here";
}

  </pre>
</div>

<pre class="language-javascript">
  
const obj = {
    key1:    "value1",
    key2:     "value2",
        key3: "value3"
};

</pre>
