import { messages } from "./messages";
import amtrak from "../../../../images/logos/amtrak.png";
import nationalExpress from "../../../../images/logos/nationalexpress-bus.png";
import trenitalia from "../../../../images/logos/trenitalia.png";
import skyscanner from "../../../../images/logos/skyscanner.png";
import bookingCom from "../../../../images/logos/bookingcom.png";
import rentalCars from "../../../../images/logos/rentalcars.png";
export interface Logo {
  imgUrl: string;
  imgAlt: string;
}
<macro|{ imgUrl, imgAlt }: Logo, anotherOne: Logo| name="logo-image"><li>
  <img class="h-7 lg:h-9" src=imgUrl alt=imgAlt title=imgAlt loading="lazy" />
</li></macro>

<section
  class="mx-auto hidden max-w-6xl px-6 py-4 md:block"
  aria-label="Our Partners"
>
  <ul class="flex flex-nowrap items-center justify-between">
    <div
      class="h-6 rounded-md bg-[#ebeef3] px-2 text-xs leading-6 text-[#5d6981]"
    >
      <formatted-message message=messages.partnersPill />
    </div>
    <logo-image imgUrl=amtrak imgAlt="Amtrak" />
    <logo-image imgUrl=nationalExpress imgAlt="National Express" />
    <logo-image imgUrl=trenitalia imgAlt="Trenitalia" />
    <logo-image imgUrl=skyscanner imgAlt="Skyscanner" />
    <logo-image imgUrl=bookingCom imgAlt="Booking.com" />
    <logo-image imgUrl=rentalCars imgAlt="Rentalcars.com" />
  </ul>
</section>
