export interface Logo {
  imgUrl: string;
  imgAlt: string;
}

<macro name="logo-image"><li>
  <img class="h-7 lg:h-9" src=imgUrl alt=imgAlt title=imgAlt loading="lazy" />
</li></macro>

<macro name="logo-image"><li>
  <img class="h-7 lg:h-9" src=imgUrl alt=imgAlt title=imgAlt loading="lazy" />
</li></macro>
