export type IconTypeA = (
  | "error"
  | "information"
  | "unknown"
  | "success"
  | "warning"
  | "suggestion"
  | "fatal"
  | "unknown"
);

export type IconTypeB<T> = (
  | "error"
  | "information"
  | "unknown"
  | "success"
  | "warning"
  | "suggestion"
  | "fatal"
  | "unknown"
  | T
);

export var x = (
  "error" ||
  "information" ||
  "unknown" ||
  "success" ||
  "warning" ||
  "suggestion" ||
  "fatal" ||
  "unknown"
);

export const y = (
    "error" ||
    "information" ||
    "unknown" ||
    "success" ||
    "warning" ||
    "suggestion" ||
    "fatal" ||
    "unknown"
);
export const z = true;
