$ const name = "World";

<section label=`Hello ${name}`>
  <button label=100/>
</section>

<div class=[
  "My first class",
  "Second class",
  "Third Class",
  "Fourth Class",
  "Fifth Class",
]/>

<div
  data-testid="Multiline div attrs"
  class=[
    "My first class",
    "Second class",
    "Third Class",
    "Fourth Class",
    "Fifth Class",
  ]
/>

<button
  onclick=(
    () => {
      console.log("Hello World");
    }
  )
  on-focus("onFocus", "SomeOtherVariable")
>
  Click me!
</button>

<span tabindex=-1/>

<span data-testid=(
  ternariesCanFormatWithNewlines()
    ? "This should be on a New Line"
    : "This should be on another newer Line"
)>
  The ternary should be wrapped in parenthesis
</span>

<span class="ultra-long-class params  should not break? flex h-12 cursor-pointer items-center px-4 hover:bg-gray-100 aria-selected:bg-gray-100 md:px-8"/>

<div class={
  "ultra-long-class": true,
  params: true,
  "these-params-should-break": !!name,
}/>
