<fancy-table>
  <@column>
    <@heading><app-icon type="profile" /> Name </@heading>
    <@cell|person|>${person.name}</@cell>
  </@column>
  <@column>
    <@heading><app-icon type="calendar" /> Age </@heading>
    <@cell|person|>${person.age}</@cell>
  </@column>
</fancy-table>
