<div class="shorthand"></div>

<div class="test shorthand"></div>

<div class=["test", "apple", "shorthand"]></div>

<div class=["shorthand", { test: true, apple: true }]></div>

<div
  class=[
    "shorthand",
    { test: true, apple: true, banana: false, fruit: true, wrap: true },
  ]></div>
