<foo|
  {
    aaaaaaaaaa: renamed1 = 1,
    bbbbbbbbbb: renamed2 = 2,
    cccccccccc: renamed3 = 3,
  },
  aaaaaaaaaa,
  bbbbbbbbbb,
  cccccccccc,
| />

<custom-tag|
  a,
  b,
  c,
  d,
  e,
  f,
  g,
  h,
  i,
  j,
  k,
  l,
  m,
  n,
  o,
  p,
  q,
  r,
  s,
  t,
  u,
  v,
  w,
  x,
  y,
  z,
|>
  ${a}
</custom-tag>
