<macro|{ imgUrl, imgAlt }: Logo| name="logo-image">
  <ul>
    <li><img src=imgUrl alt=imgAlt title=imgAlt loading="lazy" /></li>
  </ul>
</macro>

<macro|{ imgUrl, imgAlt }: Logo, anotherOne: Logo| name="logo-image">
  <img src=imgUrl alt=imgAlt title=imgAlt loading="lazy" />
</macro>
