import importMe, { named } from "./importMe";
import type { Named } from "./importTypes";
import {
  defaultExport,
  multiline,
  exports,
  will,
  hopefully,
  work,
} from "./importMe";

<div>${named}</div>
<div>${JSON.stringify(importMe)}</div>
