<div.shorthand />

<div.shorthand class="test" />

<div.shorthand class=["test", "apple"] />

<div.shorthand class={test: true, apple: true} />

<div.shorthand class={test: true, apple: true, banana: false, fruit: true, wrap:     true} />