<style>

</style>
<style>a {color: red;}</style>
<style>
  @import "./thing.css";
     h1 {
    font-size: 120%;
    font-family: Verdana, Arial,       Helvetica, sans-serif;
        color: #333366;
  }
    body {
     color: blue;
            }
             </style>


style {
    @import "./thing.css";
     h1 {
    font-size: 120%;
    font-family: Verdana, Arial,       Helvetica, sans-serif;
        color: #333366;
  }
    body {
     color: blue;
            }
}