static console.log("a");
static console.log("b");
static console.log("c");
static console.log("d");
static console.log("e");
static console.log("f");
static console.log("g");

static console.log(
  new Map([
    ["a", 1],
    ["b", 1],
    ["c", 1],
    ["d", 1],
    ["e", 1],
    ["f", 1],
    ["g", 1],
    ["h", 1],
    ["i", 1],
  ]),
);

client console.log("a");
client console.log("b");
client console.log("c");
client console.log("d");
client console.log("e");
client console.log("f");
client console.log("g");

client console.log(
  new Map([
    ["a", 1],
    ["b", 1],
    ["c", 1],
    ["d", 1],
    ["e", 1],
    ["f", 1],
    ["g", 1],
    ["h", 1],
    ["i", 1],
  ]),
);

server console.log("a");
server console.log("b");
server console.log("c");
server console.log("d");
server console.log("e");
server console.log("f");
server console.log("g");

server console.log(
  new Map([
    ["a", 1],
    ["b", 1],
    ["c", 1],
    ["d", 1],
    ["e", 1],
    ["f", 1],
    ["g", 1],
    ["h", 1],
    ["i", 1],
  ]),
);
