static {
  type IconTypeA =
    | "error"
    | "information"
    | "unknown"
    | "success"
    | "warning"
    | "suggestion"
    | "fatal"
    | "unknown";
}

static {
  type IconTypeB<T> =
    | "error"
    | "information"
    | "unknown"
    | "success"
    | "warning"
    | "suggestion"
    | "fatal"
    | "unknown"
    | T;
}

static {
  type IconTypeC<
    A,
    B,
    C,
    D,
    E,
    F,
    G,
    H,
    I,
    J,
    K,
    L,
    M,
    N,
    O,
    P,
    Q,
    R,
    S,
    T,
    U,
    V,
    W,
    X,
    Y,
    Z,
    A,
    B,
    C,
    D,
    E,
    F,
    G,
    H,
    I,
    J,
    K,
    L,
    M,
    N,
  > = true;
}
