<div>
  <if(true)>
    $ {
      console.log('Hello World!');
    }
  </if>
</div>

<h1>
  ${name +    foo}!
  $ console.log("I'm rendering the h1");
  $ console.log("These two scriptlets should be on separate lines!")
</h1>
