<script>

</script>
<script>console.log("This is a script tag");</script>

<script>
    var foo = "bar"
  let bar = "foo"
  const foo2 = 2
  



          function TestPostPlsIgnore() {
    foo = "foo3"
  }
</script>

<script type="javascript"/>

<div/>