<script></script>
<script>
  console.log("This is a script tag");
</script>

<script>
  var foo = "bar";
  let bar = "foo";
  const foo2 = 2;

  function TestPostPlsIgnore() {
    foo = "foo3";
  }
</script>

<script type="javascript"></script>

<div></div>

// Placeholders within script tags should format.
<script>
  ${SOME_PLACEHOLDER_GOES_HERE};

  window.gtag(
    "config",
    ${JSON.stringify(input)},
    ${JSON.stringify({
      ...input.customDimensions,
      anonymize_ip: true,
      transport_type: "beacon",
    })},
  );
</script>
