<!-- prettier-ignore -->
<for|   item| of=[  1,2,3]>
  <div  >${item}     </div>
    </for>

<!-- prettier-ignore -->
<if(true)>
  <span>Conditional content</span>
</if>

<!-- prettier-ignore -->
<div
    class="multi-line-attributes"
id="test-id"
  data-value="some-value"
>
Content<div>


nested  </div>here
        </div>
