static const x:    = 3   as  const

client function yPlus(val: number) { Im invalid javascript so should not be formatted but should be preserved  }

server {
    console.log("a");
    console.log("b");
    console.log("c");
    console.log("d");
    console.log("e");
    console.log("f");
    console.log("g");

    i am iunvalid javascript so should not be formatted but should be preserved
}