static function handleClick(event) {
  event.preventDefault();
  console.log("Clicked!");
}

<button on-click(handleClick)> Log click </button>

<button on-click(() => alert("Clicked! 🎉"))> Celebrate click </button>

$ {
  const handler = input.dontBreakMyApp
    ? () => console.error("Clicked!")
    : () => {
        throw Error("Clicked!");
      };
}

<button on-click(handler)> Do not click </button>

<input
  type="checkbox"
  on-change((event) => console.info(`Checked? ${event.target.checked}`))
/>
